.bo{
background-color: cadetblue;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.baw{
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    background-color: tomato;
    font-size: 30pt;
}
.oops{
    font-size: 20pt;
}




.biw{
    padding-left: 40%;
}
.yup, .pink{
font-size: 15pt;
font-family:Arial, Helvetica, sans-serif;

}
.yup{
    background-color: violet;
    color:green;
}
.pink{
background-color: purple;
color: white;
}